.styled {
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 20px;
    display: block;
    margin: 20px auto; 
    transition: background-color 0.6s ease, transform 0.2s ease;     }
        .styled:hover {
            background-color: blue;
        }
        .styled:active {
            transform: scale(0.9, 0.9);
        }
        #button1 {
            border: 2px solid transparent;
            background:
    linear-gradient(#141313, #141313) padding-box,
    linear-gradient(45deg, red, blue) border-box;
        }      
        body {
            text-align: center;
           background: linear-gradient(320deg, #141313,black,#131414);
            color: white;
           height: 751px;
        }
        .container {
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            height: 80svh;
        }
.slot {
    width: 80px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
    border: 2px solid transparent;
  background:
    linear-gradient(#141313, #141313) padding-box,
    linear-gradient(45deg, red, blue) border-box;
    border-radius: 10px;
}

.slots {
    display: flex;
    gap: 12px;         
    margin: 20px 0;
}

.balls {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.disabled-button {
    background-color: gray;
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}
