.styled {
    border: 0;
    color: white;
    background-color: green;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 20px;
    display: block;
    margin: 20px auto; 
    transition: background-color 0.6s ease, transform 0.2s ease;     }
        .styled:hover {
            background-color: blue;
        }
        .styled:active {
            background-color: red;
            transform: scale(0.8, 0.8);
        }
        #button1 {
            background-color: green;
        }      
        body {
            background-color: black;
            color: white;
            text-align: center;
        }
        .container {
            display: flex;
            flex-direction: column; 
            align-items: 10px;
            justify-content: center;
            height: 80dvh;
        }
.line {
    border: 2px solid red;
    height: 35dvh;
    padding: 1px 70px;
    border-radius: 30px;
}

.line:hover {
    border: 2px solid blue;
}

.line:active {
    border: 2px solid green;
}

